<div class="container">
    <h2>Ваші курси</h2>
    <div th:each="enroll : ${enrollments}">
        <p th:text="${enroll.course.name}"></p>
        <a th:href="@{/courses/{id}(id=${enroll.course.id})}" class="btn">Перейти</a>
    </div>

    <hr>
    <h2>Доступні курси (Запис)</h2>
    <form th:action="@{/student/enroll}" method="post" th:each="course : ${availableCourses}">
        <input type="hidden" name="courseId" th:value="${course.id}">
        <span th:text="${course.name}"></span>
        <button type="submit">Записатися</button>
    </form>
</div>