<form th:action="@{/tests/{id}/submit(id=${test.id})}" method="post">
    <div th:each="q : ${questions}">
        <p th:text="${q.question}"></p>
        <input type="radio" th:name="'q'+${q.id}" value="A" th:text="${q.optionA}">
        <input type="radio" th:name="'q'+${q.id}" value="B" th:text="${q.optionB}">
        <input type="radio" th:name="'q'+${q.id}" value="C" th:text="${q.optionC}">
        <input type="radio" th:name="'q'+${q.id}" value="D" th:text="${q.optionD}">
    </div>
    <button type="submit">Завершити тест</button>
</form>